<mat-paginator [length]="length"
    [pageSize]="size"
    [pageIndex]="page"
    [disabled] = "disabled"
    (page)="getListPokemon($event)">
</mat-paginator>

<mat-progress-spinner mode="indeterminate" *ngIf="IsWait"></mat-progress-spinner>
<div *ngIf="!IsWait">
    

    <mat-grid-list  cols="4" rowHeight="2:3">
        <mat-grid-tile *ngFor="let poke of pokelist">
            <mat-card class="card" >
                <mat-card-header>
                    <mat-card-title>{{poke.name}}</mat-card-title>
                    <mat-card-subtitle>
                        weight: {{poke.weight}}
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{poke.photo}} alt="Default front image">
                <mat-card-content>
                    <p>
                        Types: {{poke.types}} 
                    </p>    
                    <p>
                        Abilites: {{poke.abilities}} 
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="getPokemonDetail(poke)" mat-button>See more</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>  
</div>